.footer {
  background-color: black;
  height: 100px; }
  .footer__texto {
    color: white;
    text-align: center; }
  .footer__img {
    display: flex;
    justify-content: center;
    gap: 15px; }

.header {
  position: sticky;
  top: 0;
  z-index: 10; }

.carrito {
  width: 100px; }

.logo {
  width: 150px; }

.navbar {
  height: 100px;
  flex-wrap: nowrap; }

.contenedor-universal {
  display: grid;
  grid-template-columns: 300px 1fr;
  gap: 16px; }

.contenedor-productos-class {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr; }

.menu-lateral {
  display: flex;
  flex-direction: column;
  padding: 1rem 3rem;
  height: max-content;
  position: sticky;
  top: 10rem; }

.ul-menu {
  padding: 0; }

.botones-categorias {
  border: 0;
  background-color: transparent; }

.botones-categorias:hover {
  color: red; }

.botones-agregar {
  border: 0;
  color: red;
  transition: background-color .5s; }

.botones-agregar:hover {
  color: black;
  background-color: red; }

.carta-producto {
  margin: 1rem;
  width: 18rem; }

.numero-carrito {
  padding: .25rem;
  background-color: yellow;
  border-radius: .25rem;
  margin: .25rem; }

.carrito-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around; }

.carrito-vacio {
  text-align: center; }

.carrito-productos {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  padding: 1.5rem; }

.carrito-producto {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr 1fr 1fr 1fr;
  background-color: white;
  padding: 0.5rem;
  border-radius: 1rem;
  margin: 1rem; }

.carrito-producto-imagen {
  width: 5rem;
  border-radius: 1rem; }

.carrito-producto small {
  font-size: .75rem; }

.botones-carrito {
  display: flex;
  gap: .5rem;
  background-color: white;
  border: 0;
  padding: .5rem;
  border-radius: 1rem;
  transition: background-color .5s;
  margin: .5rem; }

.botones-carrito:hover {
  background-color: black;
  color: white; }

.carrito-producto-eliminar {
  border: 0;
  background-color: transparent;
  color: red; }

.carrito-opciones {
  display: flex;
  justify-content: space-evenly;
  padding: 1rem;
  margin-bottom: 1rem; }

.carrito-opciones-der {
  display: flex; }

.carrito-opciones-total {
  display: flex;
  background-color: white;
  border: 0;
  padding: .5rem;
  border-top-left-radius: 1rem;
  border-bottom-left-radius: 1rem;
  text-transform: uppercase; }

.carrito-opciones-vaciar {
  background-color: white;
  border: 0;
  padding: .5rem;
  border-radius: 1rem;
  text-transform: uppercase;
  transition: background-color .5s; }

.carrito-opciones-vaciar:hover {
  background-color: black;
  color: white; }

.carrito-opciones-comprar {
  background-color: red;
  border: 0;
  padding: .5rem;
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
  text-transform: uppercase;
  transition: background-color .5s; }

.carrito-opciones-comprar:hover {
  background-color: yellow; }

.carrito-comprado {
  text-align: center; }

.disabled {
  display: none; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: roboto; }

body {
  background-color: #e5e5e5; }

a {
  font-family: roboto;
  text-decoration: none;
  color: black;
  margin: 0; }

p {
  margin-bottom: 0; }

ul {
  list-style: none; }
