.footer {
  background-color: black;
  height: 100px; }
  .footer__texto {
    color: white;
    text-align: center; }
  .footer__img {
    display: flex;
    justify-content: center;
    gap: 15px; }

.carrito {
  width: 100px; }

.logo {
  width: 150px; }

.navbar {
  height: 100px;
  flex-wrap: nowrap; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: roboto; }

body {
  background-color: #f1f2ed; }

a {
  font-family: roboto;
  text-decoration: none;
  color: black; }

ul {
  list-style: none; }
