.footer{
    background-color: black;
    height: 100px;
}

.footer__texto{
    color: grayscale($color: #6a6a6a);
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    }

.footer__img{
    display: flex;
    justify-content: center;
    gap: 15px;
    }



