.header{
    position: sticky;
    top: 0;
    z-index: 10;
}

.botones-menu-principal{
    transition: transform .5s;
}

.botones-menu-principal:hover{
    transform: scale(1.1);
}


.carrito{
width: 100px;
}

.logo{
    width: 150px;
}

.navbar{
    height: 100px;
    flex-wrap: nowrap;  
    }
