.contenedor-universal{
    display: grid;
    grid-template-columns: 300px 1fr;
    gap: 16px;
}

.contenedor-productos-class{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.menu-lateral{
    display: flex;
    flex-direction: column;
    padding: 1rem 3rem;
    height: max-content;
    position: sticky;
    top: 10rem;
    }

.ul-menu{
    padding: 0;
}

.botones-laterales{
    border: 0;
    background-color: transparent;
}

.botones-laterales:hover{
    color: red;
}

.botones-comprar{
    border: 0;
    color: red;
    transition: background-color .5s;
}

.botones-comprar:hover{
    color: black;
    background-color: red;
}

.carta-producto{
    margin: 1rem;
    width: 18rem;
}