* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
    font-family: roboto;
}
  
body{
background-color: #e5e5e5;
}

a{
    font-family: roboto;
    text-decoration: none;
    color: black;
    margin: 0;
}

p{
    margin-bottom: 0;
}

ul{
    list-style: none;
}