* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}
  
body{
background-color: #f1f2ed;
}

a{
    font-family: roboto;
    text-decoration: none;
    color: black;
}

ul{
    list-style: none;
}